<a href='@Url.Action("Index")'>Volver</a>
<h1>@ViewBag.PaisBuscado.Nombre</h1> <br>
<img src="/@ViewBag.PaisBuscado.imgBandera" height="200">
<h2>Habitantes: @ViewBag.PaisBuscado.Poblacion</h2> <br>
<h3>Fecha de Independencia: @ViewBag.PaisBuscado.FechaIndependencia </h3> <br>
<h3>Atractivo turistico: @ViewBag.PaisBuscado.AtractivosTuristicos</h3> <br>
